{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "jest"
  ],
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "no-console": 0,
    "no-unused-expressions": [2, { "allowTernary": true, "allowShortCircuit": true }]
  },
  "env": {
    "jest": true
  }
}